/*
	VARIABLES
*/
$colorBackground: #ffffff;
$colorContainer: #dee2e6;
$colorPrimary: #1862ab;
$colorSecondary: #2b8a3e;
$colorText: #212529;

$fontJustify: 46em;
$fontSize: 100%;
$fontSizePrint: 10pt;
$fontStack: "Avenir Next", Avenir, "Open Sans", "Segoe UI", sans-serif;
$fontStackMono: monospace;
$fontWeightThick: 700;
$fontWeightThin: 400;

$lineHeight: 1.5;

$maxWidthContainer: 40.75rem;
$maxWidthImage: 64rem;
$maxWidthText: 40.75rem;


/*
	TYPOGRAPHY
*/
b, strong {
	font-weight: $fontWeightThick;
}

code {
	display: block;
	font-family: $fontStackMono;
	font-size: 0.75rem;
	line-height: $lineHeight / 0.75;
	white-space: pre-wrap;
	word-wrap: break-word;
}

em {
	font-style: italic;
}

h1 {
	font-size: 2rem;
	font-weight: $fontWeightThick;
	margin: ($lineHeight * 2rem) auto ($lineHeight * 3rem);
	text-align: center;
	a:link, a:visited, a:hover, a:active {
		color: $colorText;
		text-decoration: none;
	}
}

h2 {
	font-size: 1.5rem;
	font-weight: $fontWeightThick;
	margin: ($lineHeight * 2rem) auto;
	page-break-after: avoid;
	text-align: center;
	a:link, a:visited, a:hover, a:active {
		color: $colorText;
		text-decoration: none;
	}
}

h3,
h4,
h5,
h6 {
	font-size: 1rem;
	font-weight: $fontWeightThick;
	margin: 0 auto;
	page-break-after: avoid;
	text-align: left;
	a:link, a:visited, a:hover, a:active {
		color: $colorText;
		text-decoration: none;
	}
}

li {
	font-weight: $fontWeightThin;
	a:link, a:visited, a:hover, a:active {
		color: $colorPrimary;
		font-weight: $fontWeightThick;
		text-decoration: none;
		@media print {
			color: $colorText;
			font-weight: $fontWeightThin;
		}
	}
	a:visited {
		color: $colorSecondary;
		@media print {
			color: $colorText;
		}
	}
}

ol {
	list-style: decimal inside;
	margin: 0 auto ($lineHeight + rem);
	padding: 0;
	page-break-inside: avoid;
}

p {
	font-weight: $fontWeightThin;
	margin: 0 auto ($lineHeight + rem);
	text-align: left;
	a:link, a:visited, a:hover, a:active {
		color: $colorPrimary;
		font-weight: $fontWeightThick;
		text-decoration: none;
		@media print {
			color: $colorText;
			font-weight: $fontWeightThin;
		}
	}
	a:visited {
		color: $colorSecondary;
		@media print {
			color: $colorText;
		}
	}
	a[href]:after {
		@media print {
			content: " (" attr(href) ")";
		}
	}
}

ul {
	list-style: circle inside;
	margin: 0 auto ($lineHeight + rem);
	padding: 0;
	page-break-inside: avoid;
}


/*
	TYPOGRAPHIC CONTAINERS
*/
blockquote,
pre {
	background-color: $colorContainer;
	margin: 0 auto ($lineHeight + rem);
	max-width: $maxWidthContainer;
	padding: ($lineHeight + rem) 1rem ($lineHeight + rem);
	width: 80%;
	:last-child {
		margin-bottom: 0;
	}
}


/*
	ELEMENTS
*/
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	background-color: $colorBackground;
	box-sizing: border-box;
	color: $colorText;
	font-family: $fontStack;
	font-size: $fontSize;
	line-height: $lineHeight;
	@media print {
		font-size: $fontSizePrint;
	}
}

body {
	margin: 0;
	overflow-wrap: break-word;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

header {
	background: linear-gradient(to right, $colorPrimary, $colorSecondary);
	margin: 0 0 ($lineHeight * 3rem);
	overflow: hidden;
	padding: 20vmin 0;
	h1 {
		color: $colorBackground;
		line-height: 1;
		margin: 0 auto;
		a:link,
		a:visited,
		a:hover,
		a:active {
			color: $colorBackground;
		}
	}
}

main {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	ol,
	ul {
		max-width: $maxWidthText;
		width: 90%;
	}
	h3,
	h4,
	h5,
	h6,
	li,
	p {
		@media (min-width: $fontJustify) {
			hyphens: auto;
			text-align: justify;
		}
	}
}

footer {
	border-top: 0.0625rem solid $colorText;
	margin: (((2 * $lineHeight) - 0.0625) + rem) auto 0;
	max-width: ($maxWidthText * 0.75);
	width: 75%;
	p {
		font-size: 0.75rem;
		line-height: ($lineHeight * 2);
		margin-bottom: 0;
		text-align: center;
	}
}


/*
	MEDIA
*/
img {
	display: block;
	margin: 0 auto;
	max-width: $maxWidthImage;
	padding: 0;
	page-break-inside: avoid;
	width: 100%;
	&.half {
		max-width: $maxWidthText;
	}
}

video {
	display: block;
	margin: 0 auto;
	max-width: $maxWidthImage;
	padding: 0;
	page-break-inside: avoid;
	width: 100%;
	&.half {
		max-width: $maxWidthText;
	}
}

.imageContainer {
	max-width: none;
	width: 100%;
}

.bandcamp {
	margin: auto;
	max-width: $maxWidthText;
	padding-bottom: 0.5rem;
	width: 100%;
}

.youtube {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	height: auto;
	margin-bottom: 16px;
}

.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/*
	PAGE-SPECIFIC ELEMENTS
*/
.index {
	header {
		@media print {
			background: none;
		}
		h1 {
			@media print {
				color: $colorText;
			}
		}
	}
	main {
		h2 {
			margin-bottom: 0;
			text-decoration: underline;
		}
		li {
			text-align: center;
			@media (min-width: $fontJustify) {
				text-align: center;
			}
		}
		ul {
			list-style: none;
		}
	}
}

.error {
	main {
		p {
			text-align: center;
			a:visited {
				color: $colorPrimary;
			}
			@media (min-width: $fontJustify) {
				text-align: center;
			}
		}
	}
}

.page {
	header {
		@media print {
			display: none;
		}
	}
}
