/*
		VARIABLES
*/
/*
		TYPOGRAPHY
*/
html {
  font-family: "Avenir Next", "Avenir", "Open Sans", "Segoe UI", sans-serif;
  font-feature-settings: "dlig" 1, "kern" 1;
  font-size: 100%;
  line-height: 1.375; }
  @media print {
    html {
      font-size: 10pt; } }

b, strong {
  font-weight: 600; }

code {
  display: block;
  font-family: monospace;
  font-size: 0.75rem;
  line-height: 1.83333;
  white-space: pre-wrap;
  word-wrap: break-word; }

em {
  font-style: italic; }

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 2.75rem auto 2.75rem;
  text-align: center; }
  h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
    color: #f1f3f5;
    text-decoration: none; }

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2.75rem auto;
  page-break-after: avoid;
  text-align: center; }
  h2 a:link, h2 a:visited, h2 a:hover, h2 a:active {
    color: #f1f3f5;
    text-decoration: none; }

h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0 auto;
  page-break-after: avoid;
  text-align: left; }
  h3 a:link, h3 a:visited, h3 a:hover, h3 a:active,
  h4 a:link,
  h4 a:visited,
  h4 a:hover,
  h4 a:active,
  h5 a:link,
  h5 a:visited,
  h5 a:hover,
  h5 a:active,
  h6 a:link,
  h6 a:visited,
  h6 a:hover,
  h6 a:active {
    color: #f1f3f5;
    text-decoration: none; }

li {
  font-weight: 300; }
  li a:link, li a:visited, li a:hover, li a:active {
    color: #72c3fc;
    font-weight: 600;
    text-decoration: none; }
    @media print {
      li a:link, li a:visited, li a:hover, li a:active {
        color: #f1f3f5;
        font-weight: 300; } }
  li a:visited {
    color: #8ce99a; }
    @media print {
      li a:visited {
        color: #f1f3f5; } }

ol {
  list-style: decimal inside;
  margin: 0 auto 1.375rem;
  padding: 0;
  page-break-inside: avoid; }

p {
  font-weight: 300;
  margin: 0 auto 1.375rem;
  text-align: left; }
  p a:link, p a:visited, p a:hover, p a:active {
    color: #72c3fc;
    font-weight: 600;
    text-decoration: none; }
    @media print {
      p a:link, p a:visited, p a:hover, p a:active {
        color: #f1f3f5;
        font-weight: 300; } }
  p a:visited {
    color: #8ce99a; }
    @media print {
      p a:visited {
        color: #f1f3f5; } }
  @media print {
    p a[href]:after {
      content: " (" attr(href) ")"; } }

sub {
  font-size: 75%;
  position: relative;
  top: 0.25rem;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  position: relative;
  top: -0.375rem;
  vertical-align: baseline; }

ul {
  list-style: circle inside;
  margin: 0 auto 1.375rem;
  padding: 0;
  page-break-inside: avoid; }

/*
		TYPOGRAPHIC CONTAINERS
*/
blockquote,
pre {
  background-color: #495357;
  margin: 0 auto 1.375rem;
  padding: 1.375rem 1rem 1.375rem; }
  blockquote :last-child,
  pre :last-child {
    margin-bottom: 0; }

/*
		ELEMENTS
*/
*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  background-color: #212529;
  box-sizing: border-box;
  color: #f1f3f5; }

body {
  margin: 0;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*
		MEDIA
*/
figure {
  margin: 0 auto 1.375rem;
  padding: 0;
  page-break-inside: avoid;
  width: 100%; }
  figure figcaption {
    font-size: 0.75rem;
    text-align: center; }
  figure.halfLeft {
    float: left;
    margin-bottom: 0;
    margin-right: 8px;
    width: 50%; }
  figure.halfRight {
    float: right;
    margin-bottom: 0;
    margin-left: 8px;
    width: 50%; }
  figure.quarterLeft {
    float: left;
    margin-bottom: 0;
    margin-right: 8px;
    width: 25%; }
  figure.quarterRight {
    float: right;
    margin-bottom: 0;
    margin-left: 8px;
    width: 25%; }

img {
  display: block;
  margin: 0 auto;
  padding: 0;
  page-break-inside: avoid;
  width: 100%; }

video {
  display: block;
  margin: 0 auto;
  padding: 0;
  page-break-inside: avoid;
  width: 100%; }
  video.half {
    width: 50%; }

/*
	TKR VARIATIONS
*/
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main ol,
main p,
main ul {
  max-width: 40rem;
  width: 90%; }

@media (min-width: 30rem) {
  main h3,
  main h4,
  main h5,
  main h6,
  main ol,
  main p,
  main ul {
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    text-align: justify; } }

figure {
  max-width: 64rem; }
  @media (min-width: 64.125rem) {
    figure img {
      border-radius: 0.25rem; } }

footer {
  border-top: 0.0625rem solid #868e96;
  margin: 0 auto;
  max-width: 20rem;
  width: 75%; }
  footer p {
    font-size: 0.75rem;
    line-height: 2.75;
    margin-bottom: 0;
    text-align: center; }

header {
  border-bottom: 0.0625rem solid #868e96;
  margin: 0 auto;
  max-width: 64rem;
  width: 90%; }
  header h2 {
    margin: 12vmin auto; }

.bandcamp {
  margin: auto;
  max-width: 40rem;
  padding-bottom: 0.5rem;
  width: 100%; }

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  height: auto;
  margin-bottom: 16px; }

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
