/*

VARIABLES

*/

:root {
    --colorBG: rgba(28, 28, 28, 1);
    --colorFG: rgba(255, 255, 255, 1);
    --colorInactive: rgba(40, 42, 41, 1);
    --colorBlue: rgba(10, 132, 255, 1);
    --colorGreen: rgba(50, 215, 75, 1);
    --colorRed: rgba(255, 69, 58);

    --borderRadius: 0.5rem;
    --fontStack: "Avenir Next", "Avenir", "Open Sans", "Sego UI", sans-serif;
    --fontStackMono: monospace;
    --fontWeight: 400;
    --fontWeightBold: 700;
    --lineHeight: 1.375;
    --maxWidth: 40rem;
    --textLongest: 21.5rem;
}

@font-face {
    font-family: "sansation-light";
    src: local("Sansation Light"),
         url("sansation-light.woff2");

}

/*

ELEMENTS

*/

html {
    background-color: var(--colorBG);
    color: var(--colorFG);
    font-family: var(--fontStack);
    font-size: 100%;
    line-height: var(--lineHeight);
    margin: 0;
    text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@media (min-width: 40rem) {
    html {
        font-size: 2.5vw;
    }
}

@media (min-width: 50rem) {
    html {
        font-size: 125%;
    }
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 2rem;
    line-height: 2rem;
    margin: calc(var(--lineHeight) * 2rem) auto 0;
    text-align: right;
    width: 90%;
}

header a {
    margin: 0 0 0 2rem;
}

header a:first-of-type {
    margin 0;
}

header a:link,
header a:visited,
header a:hover,
header a:active {
    color: var(--colorFG);
    text-decoration: none;
}

header img {
    display: block;
    float: left;
    height: 2rem;
    padding: 0;
}

main {
    margin: 0 auto;
    max-width: 40rem;
    width: 90%;
}

main img {
    border-radius: 1rem;
    margin: 0 auto calc(var(--lineHeight) * 1rem);
    width: 100%;
}

/*

TYPOGRAPHY

*/

h1 {
    font-size: 2rem;
    font-weight: var(--fontWeightBold);
    margin: calc(var(--lineHeight) * 2rem) auto;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: var(--fontWeightBold);
    margin: calc(var(--lineHeight) * 0.75rem) auto;
}

h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: var(--fontWeightBold);
    margin: calc(var(--lineHeight) * 0.5rem) auto;
}

p {
    font-size:  1rem;
    font-weight: var(--fontWeight);
    margin: 0 auto calc(var(--lineHeight) * 1rem);
    text-align: left;
}

p a:link,
p a:visited,
p a:hover,
p a:active {
    color: var(--colorBlue);
    font-weight: var(--fontWeightBold);
    text-decoration: none;
}

p a:visited {
    color: var(--colorGreen);
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
table,
ul {
    max-width: var(--maxWidth);
}

b,
strong {
    font-weight: var(--fontWeightBold);
}

blockquote,
pre {
    background-color: var(--colorInactive);
    border-radius: var(--borderRadius);
    margin: 0 auto calc(var(--lineHeight) * 1rem);
    max-width: var(--maxWidth);
    padding: calc(var(--lineHeight) * 1rem) 0;
    width: 90%;
}

blockquote:last-child,
pre:last-child {
    margin-bottom: 0;
}

code {
    display: block;
    font-family: var(--fontStackMono);
    font-size: 0.75rem;
    line-height: calc(var(--lineHeight) / 0.75);
    margin: auto;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    width: 90%;
}

em {
    font-style: italic;
}

li a:link,
li a:visited,
li a:hover,
li a:active {
    color: var(--colorBlue);
    font-weight: var(--fontWeightBold);
    text-decoration: none;
}

li a:visited {
    color: var(--colorGreen);
}

ol {
    list-style: decimal outside;
    margin: 0 auto calc(var(--lineHeight) * 1rem);
    padding: 0;
}

ol ol,
ol ul {
    margin-bottom: 0;
}

sub {
    font-size: 0.75rem;
    position: relative;
    top: 0.25rem;
    vertical-align: baseline;
}

sup {
    font-size: 0.75rem;
    position: relative;
    top: -0.375rem;
    vertical-align: baseline;
}

table {
    border: 1px solid var(--colorFG);
    border-collapse: collapse;
    margin: 0 auto calc(var(--lineHeight) * 1rem);
}

table a:link,
table a:visited,
table a:hover,
table a:active {
    color: var(--colorBlue);
    font-weight: var(--fontWeightBold);
    text-decoration: none;
}

table a:visited {
    color: var(--colorGreen);
}

table td {
    border: 1px solid var(--colorFG);
    padding: 0.25rem;
}

table tr {
    vertical-align: text-top;
}

ul {
    list-style: circle outside;
    margin: 0 auto calc(var(--lineHeight) * 1rem);
    padding: 0;
}

ul ol,
ul ul {
    margin-bottom: 0;
}

@media (min-width: 32rem) {
    h4,
    h5,
    h6,
    ol,
    p,
    ul {
            hyphens: auto;
            -ms-hpyhens: auto;
            -webkit-hyphens: auto;
            text-align: justify;
    }
}

/*

TITLE PAGE

*/


body.title-page main {
    margin: 2rem auto;
    padding: 0;
    width: 85%;
}

/* Currently set for small iPhone size, will apply to about any viewport. */
/* When additional internal links added, will need to be adjusted upward. */
@media (min-height: 30rem) {
    body.title-page main {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
            -height: -webkit-fill-available;
        justify-content: center;
        margin: 0 auto;
    }
}

body.title-page h1 {
    font-family: "sansation-light", sans-serif;
    font-size: 10vw;
    font-weight: normal;
    margin: 0;
}

@media (min-width: 50rem) {
    body.title-page h1 {
        font-size: 4rem;
    }
}

nav.external-links {
    align-items: center;
    display: flex;
    height: 3rem;
    margin: 2rem auto;
    justify-content: center;
    text-align: center;
}

nav.external-links img {
    height: 2rem; /* Height used due to varying widths of each logo SVG */
    margin: 0 1rem;
    transition: height 1s 0s;
    width: 3rem;
}

nav.external-links img:hover {
    height: 3rem;
}

nav.internal-links {
    margin: auto;
    max-width: 30rem;
    text-align: center;
    width: 100%;
}

nav.internal-links a:link,
nav.internal-links a:visited {
    border: 2px solid var(--colorFG);
    border-radius: 0.25rem;
    color: var(--colorFG);
    display: inline-block;
    line-height: 2;
    margin: 0 0.5rem 1rem;
    text-decoration: none;
    transition: all 1s 0s;
    width: 10rem;
}

nav.internal-links a:hover,
nav.internal-links a:active {
    border-radius: 1rem;
    color: var(--colorBG);
    transition: all 0.5s 0s;
}

nav.internal-links a:nth-of-type(3n+1):hover,
nav.internal-links a:nth-of-type(3n+1):active {
    background-color: var(--colorBlue);
    border: 2px solid var(--colorBlue);
}

nav.internal-links a:nth-of-type(3n+2):hover,
nav.internal-links a:nth-of-type(3n+2):active {
    background-color: var(--colorGreen);
    border: 2px solid var(--colorGreen);
}

nav.internal-links a:nth-of-type(3n):hover,
nav.internal-links a:nth-of-type(3n):active {
    background-color: var(--colorRed);
    border: 2px solid var(--colorRed);
}
